.boton-login-usuario {
    height: 100px;
    width: 100px;
    margin: 2px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid;
    border-color: #ece5a5;
  }

  .logo-app {
    display: flex;
    margin: auto;
    padding: 10px;
    border-radius: 80%;
    height: 200px;
    width: 200px;
    border: 2px solid;
    border-color: #ece5a5;
  }

  .boton-inicio {
    display: flex;
    margin: auto;
    padding: 10px;
    border-radius: 10%;
  }
  