ion-card {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  ion-card-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .boton {
    width: auto;
    height: 300px; 
    max-height: 100%;
    max-width: 100%;
    
  }
  .pulse-animacion {
    animation: pulse 1s infinite alternate;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      filter: drop-shadow(0 0 10px rgb(245, 124, 124));
    }
    100% {
      transform: scale(1.1);
      filter: drop-shadow(0 0 20px rgb(245, 124, 124));
    }
  }